# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

.idea/

out/
bin/

# OSX trash
.DS_Store


# docs
docs/resources/_gen
docs/.hugo_build.lock
node_modules/

# ignore all local dev files
.vscode/
.local/
