apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kurator-fleet-manager
rules:
  - apiGroups:
      - fleet.kurator.dev
    resources:
      - "*"
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps.kurator.dev
    resources:
      - '*'
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - kustomize.toolkit.fluxcd.io
    resources:
      - '*'
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - cluster.kurator.dev
    resources:
      - "*"
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
      - pods
      - services
      - endpoints
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - clusterrolebindings
    verbs:
      - get
      - update
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - services
      - nodes
      - namespaces
      - secrets
      - serviceaccounts
    verbs:
      - get
      - create
      - update
      - patch
      - delete
      - deletecollection
      - list
  - apiGroups:
      - "apps"
    resources:
      - deployments
      - statefulsets
    verbs:
      - get
      - create
      - delete
      - list
  - apiGroups:
      - "source.toolkit.fluxcd.io"
    resources:
      - helmrepositories
      - gitrepositories
      - ocirepositories
    verbs:
      - get
      - create
      - delete
      - deletecollection
      - update
      - list
      - watch
  - apiGroups:
      - "helm.toolkit.fluxcd.io"
    resources:
      - helmreleases
    verbs:
      - get
      - create
      - delete
      - deletecollection
      - update
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kurator-fleet-manager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kurator-fleet-manager
subjects:
  - kind: ServiceAccount
    name: kurator-fleet-manager
    namespace: "{{ .Release.Namespace }}"
