---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: custommachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: CustomMachine
    listKind: CustomMachineList
    plural: custommachines
    singular: custommachine
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Indicates if the CustomMachine is ready.
      jsonPath: .status.ready
      name: Ready
      type: boolean
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CustomMachine is the schema for kubernetes nodes.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Specification of the desired behavior of the kurator cluster.
            properties:
              master:
                items:
                  description: Machine defines a node.
                  properties:
                    hostName:
                      description: HostName is the hostname of the machine.
                      type: string
                    labels:
                      additionalProperties:
                        type: string
                      description: AdditionalTags is an optional set of tags to add
                        to an instance.
                      type: object
                    privateIP:
                      description: PrivateIP is the private ip address of the machine.
                      type: string
                    publicIP:
                      description: PublicIP specifies the public IP.
                      type: string
                    region:
                      description: Region specifies the region where the machine resides.
                      type: string
                    sshKey:
                      description: SSHKeyName is the name of the ssh key to attach
                        to the instance. Valid values are empty string (do not use
                        SSH keys), a valid SSH key name, or omitted (use the default
                        SSH key name)
                      properties:
                        apiVersion:
                          description: API version of the referent.
                          type: string
                        fieldPath:
                          description: |-
                            If referring to a piece of an object instead of an entire object, this string
                            should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                            For example, if the object reference is to a container within a pod, this would take on a value like:
                            "spec.containers{name}" (where "name" refers to the name of the container that triggered
                            the event) or if no container name is specified "spec.containers[2]" (container with
                            index 2 in this pod). This syntax is chosen only to have some well-defined way of
                            referencing a part of an object.
                            TODO: this design is not final and this field is subject to change in the future.
                          type: string
                        kind:
                          description: |-
                            Kind of the referent.
                            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                          type: string
                        name:
                          description: |-
                            Name of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          type: string
                        namespace:
                          description: |-
                            Namespace of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                          type: string
                        resourceVersion:
                          description: |-
                            Specific resourceVersion to which this reference is made, if any.
                            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                          type: string
                        uid:
                          description: |-
                            UID of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                          type: string
                      type: object
                      x-kubernetes-map-type: atomic
                    zone:
                      description: Zone specifies the zone where the machine resides.
                      type: string
                  required:
                  - hostName
                  - privateIP
                  - publicIP
                  type: object
                type: array
              node:
                items:
                  description: Machine defines a node.
                  properties:
                    hostName:
                      description: HostName is the hostname of the machine.
                      type: string
                    labels:
                      additionalProperties:
                        type: string
                      description: AdditionalTags is an optional set of tags to add
                        to an instance.
                      type: object
                    privateIP:
                      description: PrivateIP is the private ip address of the machine.
                      type: string
                    publicIP:
                      description: PublicIP specifies the public IP.
                      type: string
                    region:
                      description: Region specifies the region where the machine resides.
                      type: string
                    sshKey:
                      description: SSHKeyName is the name of the ssh key to attach
                        to the instance. Valid values are empty string (do not use
                        SSH keys), a valid SSH key name, or omitted (use the default
                        SSH key name)
                      properties:
                        apiVersion:
                          description: API version of the referent.
                          type: string
                        fieldPath:
                          description: |-
                            If referring to a piece of an object instead of an entire object, this string
                            should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                            For example, if the object reference is to a container within a pod, this would take on a value like:
                            "spec.containers{name}" (where "name" refers to the name of the container that triggered
                            the event) or if no container name is specified "spec.containers[2]" (container with
                            index 2 in this pod). This syntax is chosen only to have some well-defined way of
                            referencing a part of an object.
                            TODO: this design is not final and this field is subject to change in the future.
                          type: string
                        kind:
                          description: |-
                            Kind of the referent.
                            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                          type: string
                        name:
                          description: |-
                            Name of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          type: string
                        namespace:
                          description: |-
                            Namespace of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                          type: string
                        resourceVersion:
                          description: |-
                            Specific resourceVersion to which this reference is made, if any.
                            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                          type: string
                        uid:
                          description: |-
                            UID of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                          type: string
                      type: object
                      x-kubernetes-map-type: atomic
                    zone:
                      description: Zone specifies the zone where the machine resides.
                      type: string
                  required:
                  - hostName
                  - privateIP
                  - publicIP
                  type: object
                type: array
            type: object
          status:
            description: Current status of the machine.
            properties:
              ready:
                description: Indicate whether the machines are ready.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
