apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  labels:
    cluster.x-k8s.io/v1beta1: v1alpha1
  name: customclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: CustomCluster
    listKind: CustomClusterList
    plural: customclusters
    shortNames:
    - cc
    singular: customcluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Represents the current phase of customCluster actuation.
      jsonPath: .status.phase
      name: Phase
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CustomCluster represents the parameters for a cluster in supplement
          of Cluster API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Specification of the desired behavior of the kurator cluster.
            properties:
              cni:
                description: CNIConfig is the configuration for the CNI of the cluster.
                properties:
                  type:
                    description: 'Type is the type of CNI. The supported types are:
                      calico, canal, cilium, flannel, kube-ovn, kube-router, macvlan,
                      weave'
                    type: string
                required:
                - type
                type: object
              controlPlaneConfig:
                description: ControlPlaneConfig contains control plane configuration.
                properties:
                  address:
                    description: same as `ControlPlaneEndpoint` (e.g. 192.x.x.0).
                    type: string
                  certSANs:
                    description: CertSANs sets extra Subject Alternative Names for
                      the API Server signing cert (e.g.[200.x.x.1,200.x.x.2,kubernetes.default.svc.cluster.local],
                      [200.x.x.1], etc...).
                    items:
                      type: string
                    type: array
                  loadBalancerDomainName:
                    description: |-
                      LoadBalancerDomainName is a variable used to set the endpoint for a Kubernetes cluster
                      when a load balancer (LB) is enabled. The default value is ControlPlaneConfig.Address.
                    type: string
                required:
                - address
                type: object
              machineRef:
                description: MachineRef is the reference of nodes for provisioning
                  a kurator cluster.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: |-
                      If referring to a piece of an object instead of an entire object, this string
                      should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within a pod, this would take on a value like:
                      "spec.containers{name}" (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]" (container with
                      index 2 in this pod). This syntax is chosen only to have some well-defined way of
                      referencing a part of an object.
                      TODO: this design is not final and this field is subject to change in the future.
                    type: string
                  kind:
                    description: |-
                      Kind of the referent.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  namespace:
                    description: |-
                      Namespace of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                    type: string
                  resourceVersion:
                    description: |-
                      Specific resourceVersion to which this reference is made, if any.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                    type: string
                  uid:
                    description: |-
                      UID of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            required:
            - cni
            type: object
          status:
            description: Current status of the kurator cluster
            properties:
              apiEndpoint:
                description: |-
                  APIEndpoint is the endpoint to communicate with the apiserver.
                  Format should be: `https://host:port`
                type: string
              conditions:
                description: Conditions defines current service state of the cluster.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        Last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        A human readable message indicating details about the transition.
                        This field may be empty.
                      type: string
                    reason:
                      description: |-
                        The reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may not be empty.
                      type: string
                    severity:
                      description: |-
                        Severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              kubeconfigSecretRef:
                description: KubeconfigSecretRef represents the secret that contains
                  the credential to access this cluster.
                type: string
              phase:
                description: |-
                  Phase represents the current phase of customCluster actuation.
                  E.g.  Running, Succeed, Terminating, Failed etc.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
