apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: kurator-cluster-operator
  name: kurator-cluster-operator
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: kurator-cluster-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kurator-cluster-operator
    spec:
      containers:
      - args:
        - --leader-elect
        - --feature-gates={{ template "featureGates" . }}
        - --v={{ .Values.logging.level }}
        - --metrics-bind-addr=127.0.0.1:8080
        - --requeue-after={{ .Values.requeueAfter }}
        - --webhook-port={{ .Values.webhook.port }}
        - --webhook-cert-dir={{ .Values.webhook.certMountPath }}
        env:
        - name: AWS_SHARED_CREDENTIALS_FILE
          value: /home/.aws/credentials
        image: {{ .Values.image.hub }}/cluster-operator:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: healthz
          periodSeconds: 10
        name: manager
        ports:
        - containerPort: {{ .Values.webhook.port }}
          name: webhook-server
          protocol: TCP
        - containerPort: 9440
          name: healthz
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: healthz
        volumeMounts:
        - mountPath: {{ .Values.webhook.certMountPath }}
          name: cert
          readOnly: true
        - mountPath: /home/.aws
          name: credentials
      securityContext:
        fsGroup: 1000
      serviceAccountName: kurator-cluster-operator
      terminationGracePeriodSeconds: 10
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: kurator-webhook-service-cert
      - name: credentials
        secret:
          optional: true
          secretName: kurator-aws-bootstrap-credentials
