kube_version: {{ .KubeVersion}}
download_run_once: true
download_container: false
download_localhost: true
# network
kube_pods_subnet: {{ .PodCIDR }}
kube_network_plugin: {{ .CNIType }}

{{ .VIPConfig }}
